﻿
@{
    ViewBag.Title = "Ganar";
}
<h1>Ganaste, sin embargo tu partida no va a ser contada,¡A menos que compres la edicion Premium de $19,99 USD!</h1>
<form action="@Url.Action("JugarJuego")" method="post">
    <input type="submit" value="Jugar de nuevo" />
</form>
<div>
    <form action='@Url.Action("Ranking")' method="post">
        <input type="submit" name="Ranking" value="Ranking" />
    </form>
</div>

