﻿
@{
    ViewBag.Title = "EmpezarJuego";
}

<h2>Adivinator 2 pre-alpha v0.1</h2>
<div>
    <h4>Ingresa tu nombre</h4>
    <form method="post" action='@Url.Action("JugarJuego")'>
        <input type="text" name="nombre" />
        <input type="submit" />
    </form>
</div>

