﻿@{ ViewBag.Title = "Jugar a Adivinator"; }
<div>
    <form action='@Url.Action("Ranking")' method="post">
        <input type="submit" name="Ranking" value="Ranking" />
    </form>
</div>
@ViewBag.Numero
<div>
    <form action="@Url.Action("Abandonar")" method="post">
        <input type="submit" name="name" value="Desconectar" />
    </form>
</div>
@ViewBag.Pista
<h2></h2>
<form action='@Url.Action("JugarJuego")' method="post">
    <input type="number" name="numero" />
    <input type="submit" />
</form>
@foreach (var intento in ViewBag.IntentosHechos)
{
    @Html.Raw(intento); <br />
}
