﻿
@{
    ViewBag.Title = "Perder";
}
<h1>Perdiste, pero podes comprar mas intentos por $9,99 USD!</h1>
<form action="@Url.Action("JugarJuego")" method="post">
    <input type="submit" value="Jugar de nuevo" />
</form>

