﻿@{
    ViewBag.Title = "Ranking";
}
<h2>Mejores jugadores</h2>
<form action="@Url.Action("JugarJuego")" method="post">
    <input type="submit" value="Jugar de nuevo" />
</form>
<table>
    <tr>
        <th>Nombre</th>
        <th>Puntaje</th>
    </tr>

    @foreach (var rank in ViewBag.Mejores)
    {
        <tr>
            <td>@Html.Raw(rank.Key)</td>

            <td>@Html.Raw(rank.Value.PartidasGanadas)</td>
        </tr>
    }

</table>

<h2>Mejores marcas en esta maquina</h2>
<table>
    <tr>
        <th>Nombre</th>
        <th>Puntaje</th>
    </tr>
    @foreach (var rankC in ViewBag.MejorMarcaCookie)
    {
        <tr>
            <td>@Html.Raw(rankC.Key)</td>
            <td>@Html.Raw(rankC.Value.PartidasGanadas)</td>

        </tr>
    }
</table>
<h3>Tu puntaje en sesion</h3>
<p>@ViewBag.MejorMarcaSession</p>
<h2>Ranking</h2>

